<% layout('layouts/boilerplate') %> 
    
<ul>
    <% for (let planet of planets) { %>
        <li><a href="/planets/<%= planet._id %> "><%= planet.pname %> </a></li>
        
    <% } %>
</ul>
<a href="/planets/new">Discover Planet</a>
