<% layout('layouts/boilerplate') %> 
    
    <h1><%= planet.pname %> </h1>
    <p><%= planet.description %> </p>
    <p> <a href="/planets/<%=planet._id%>/edit">Edit</a>
    </p>
    <form action="/planets/<%= planet._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
